* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

html {
scroll-behavior: smooth;
}

body {
background: linear-gradient(135deg, #020617, #0f172a);
color: white;
}

/* NAVBAR */
nav {
display: flex;
justify-content: space-between;
padding: 20px 60px;
background: rgba(0,0,0,0.5);
backdrop-filter: blur(10px);
position: sticky;
top: 0;
}

nav h2 {
color: #38bdf8;
}

nav ul {
display: flex;
list-style: none;
}

nav ul li {
margin-left: 25px;
}

nav a {
color: white;
text-decoration: none;
}

nav a:hover {
color: #38bdf8;
}

/* HERO */
.hero {
display: flex;
justify-content: space-between;
align-items: center;
padding: 100px 50px;
flex-wrap: wrap;
}

.hero-text h1 {
font-size: 42px;
}

.hero-text span {
color: #38bdf8;
}

.hero-text p {
margin-top: 10px;
color: #cbd5f5;
}

.hero button {
margin-top: 20px;
padding: 12px 25px;
border: none;
border-radius: 8px;
background: #38bdf8;
cursor: pointer;
transition: 0.3s;
}

.hero button:hover {
background: #0ea5e9;
}

/* PROFILE IMAGE */
.profile {
width: 250px;
border-radius: 50%;
object-fit: cover;
transition: 0.4s ease;
}

.profile:hover {
transform: scale(1.08);
box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* SECTION */
.section {
padding: 80px 20px;
text-align: center;
}

.section h2 {
color: #38bdf8;
margin-bottom: 20px;
}

h3 {
margin-top: 30px;
color: #94a3b8;
}

/* SKILLS */
.skill {
width: 60%;
margin: 15px auto;
text-align: left;
}

.bar {
height: 10px;
background: #1e293b;
}

.bar div {
height: 10px;
background: #38bdf8;
}

/* CARDS */
.card {
width: 60%;
margin: 20px auto;
padding: 20px;
border-radius: 12px;

```
background: rgba(255,255,255,0.05);
backdrop-filter: blur(10px);

transition: 0.3s;
```

}

.card:hover {
transform: translateY(-8px);
}

/* FORM */
form {
width: 60%;
margin: auto;
display: flex;
flex-direction: column;
}

form input, form textarea {
margin: 10px 0;
padding: 10px;
border: none;
border-radius: 5px;
}

form button {
padding: 10px;
background: #38bdf8;
border: none;
cursor: pointer;
}

form button:hover {
background: #0ea5e9;
}

/* CONTACT */
#contact p {
margin: 10px;
color: #cbd5f5;
}

/* MOBILE */
@media(max-width: 768px) {
.hero {
flex-direction: column;
text-align: center;
}

```
.skill, .card, form {
    width: 90%;
}

.profile {
    margin-top: 20px;
}
```

}
