* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

body {
background: linear-gradient(135deg, #020617, #0f172a);
color: white;
}

/* NAV */
nav {
display: flex;
justify-content: space-between;
padding: 20px 60px;
background: rgba(0,0,0,0.5);
position: sticky;
top: 0;
}

nav h2 { color: #38bdf8; }

nav ul {
display: flex;
list-style: none;
}

nav ul li { margin-left: 20px; }

nav a {
color: white;
text-decoration: none;
}

/* HERO */
.hero {
display: flex;
justify-content: space-between;
align-items: center;
padding: 100px 50px;
flex-wrap: wrap;
}

.hero-text h1 { font-size: 40px; }

.hero-text span { color: #38bdf8; }

.hero button {
margin-top: 20px;
padding: 10px 20px;
background: #38bdf8;
border: none;
cursor: pointer;
}

/* PHOTO */
.profile {
width: 250px;
border-radius: 50%;
transition: 0.4s;
}

.profile:hover {
transform: scale(1.08);
}

/* SECTION */
.section {
padding: 80px 20px;
text-align: center;
}

.section h2 {
color: #38bdf8;
}

/* CARDS */
.card {
width: 60%;
margin: 20px auto;
padding: 20px;
border-radius: 10px;
background: rgba(255,255,255,0.05);
}

/* SKILLS */
.skill {
width: 60%;
margin: 10px auto;
text-align: left;
}

.bar {
height: 8px;
background: #1e293b;
}

.bar div {
height: 8px;
background: #38bdf8;
}

/* PROJECTS */
.project-container {
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
}

.project-img {
width: 100%;
border-radius: 10px;
}

/* FORM */
form {
width: 60%;
margin: auto;
display: flex;
flex-direction: column;
}

form input, form textarea {
margin: 10px 0;
padding: 10px;
}

/* MOBILE */
@media(max-width: 768px) {
.hero {
flex-direction: column;
text-align: center;
}

```
.card, .skill, form {
    width: 90%;
}
```

}
